{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}

<section class="container my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="h3 mb-3 font-weight-normal text-center" style="white-space: nowrap;">Demande de réinitialisation de mot de passe</h1>
            {{ form_start(requestPassForm)}}
                {{form_row(requestPassForm.email)}}
                <button type="submit" class="btn btn-primary d-block mx-auto my-3">Envoyer</button>
            {{ form_end(requestPassForm)}}
        </div>
    </div>
</section>

{% endblock %}
