{% extends 'base.html.twig' %}

{% block title %}Détails de {% endblock %}

{% block body %}
<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Liste des produits de la catégorie {{category.name}}</h1>
		</section>
	</main>
{% endblock %}



