{% extends 'base.html.twig' %}

{% block title %}Accés refusé{% endblock %}
{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12 text-center">
				<h1>Accés refusé</h1>
				<p>L'accés a cette page vous est interdit.</p>
			</div>
		</section>
	</main>
{% endblock %}